.bg {
    width: 100vw;
    height: 1000px;
    background-image: url("src\assets\images\cereza2.png");
    background-position-x: 30%;
    background-position-y: center;
    background-size: cover;
    background-color: #F2F1EE;
}

.profile{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 9%;
    margin-top: 9%;
}

.button-profile{
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 50%;
    background-color: grey;
    width: 50px;
    height: 50px;
}

.settings{
    border-style: none;
    margin-left: 70%;
    margin-top: 5%;
}

.back{
    border-style: none;
    margin-left: 5%;
    margin-top: 5%;
}

.information{
    background-color: #F2F1EE;
    margin-left: 10%;
    
}

.container{
margin-top: 10%;
margin-left: 5%;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

.progress{
margin-top: 10%;
}

.exit{
    border-style: none;
    margin-left: 85%;
    background-color: #F2F1EE;
    margin-top: 20%;

}

