<div class="bg">

  <h2 class="text">¿Qué comemos hoy?</h2>

  <button class="search" routerLink="/posts"> <img  src="./../../assets/images/icons/search.png" width="18" height="18">  Busca un ingrediente...</button>

  <p class="recomendaciones">Recomendaciones</p>

  <app-slider></app-slider>

  <p class="inspo">Inspírate</p>

  <div class="row">
    <div class="column">
      <img src="../../../assets/images/Asiatica.jpg">
      <img src="../../../assets/images/mexicana.jpg">


    </div>
    <div class="column">
      <img src="../../../assets/images/vegano.jpg">
      <img src="../../../assets/images/carne.jpg">


    </div>

    <div class="column">
      <img src="../../../assets/images/lasana-carne.jpg">
      <img src="../../../assets/images/calabacin.jpg">
    </div>

  </div>
  <app-botton-bar></app-botton-bar>
</div>