.bg {
    width: 100vw;
    height: 1000px;
    background-image: url("src\assets\images\cereza2.png");
    background-position-x: 30%;
    background-position-y: center;
    background-size: cover;
    background-color: #F2F1EE;
}

.back{
    border-style: none;
    margin-left: 5%;
    margin-top: 5%;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.form-group {
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    border-style: none;
    font-family:  Helvetica, sans-serif;
}

.send{
    margin-left: 30%;
    margin-top: 10%;
    width: 30%;
    border-radius: 5px;
}

.contacto{
    text-align: left;
    margin-top: 15%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}